@font-face {
  font-family: 'Gotham Pro';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Gotham Pro'), local('Gotham Pro Regular'),
  url('../fonts/GothamPro.ttf') format('truetype');
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  margin: 0;
  font: 14px/20px Gotham Pro, Arial, sans-serif;
  min-width: 320px;
  background-color: #fff;
}

*,
::before,
::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

p {
  margin: 0;
}

.loyalty {
  max-width: 320px;
  margin-top: 30px;
  padding: 16px 32px 16px 16px;
}
.loyalty__circle {
  position: relative;
  width: 230px;
  height: 230px;
  padding-left: 36px;
  margin: 0 0 60px;
  background-color: #fff;
}
.loyalty__circle-text {
  position: absolute;
  width: 100%;
  padding: 20px;
  z-index: 1;
  left: 36px;
  top: 50%;
  text-align: center;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.loyalty__circle-flag {
  position: absolute;
  margin: 0 auto;
  top: -30px;
  left: 0;
  right: 0;
  width: 64px;
  height: 64px;
  background: #fff;
  text-align: center;
}
.loyalty__circle-flag img {
  vertical-align: center;
}
.percentage {
  position: relative;
  display: inline-block;
  margin-top: 20px;
  font-size: 40px;
  line-height: 1;
  color: #555;
}
.percentage:after {
  content: "%";
  position: absolute;
  color: #aaa;
  font-size: 16px;
  top: 0;
  right: 0;
}
.percentage span {
  font-size: 20px;
}
.loyalty__title {
  margin: 6px 0;
  font-size: 20px;
  color: #555;
  font-weight: bold;
}
.loyalty__status {
  font-size: 18px;
  font-weight: bold;
}
.loyalty__status.green {
  color: #70a74b;
}
.loyalty__status.yellow {
  color: #fbd229;
}
.loyalty__status.red {
  color: #ed5243;
}
.loyalty__text {
  color: #b7b2b2;
  font-size: 11px;
  line-height: 14px;
}
.loyalty__change {
  font-size: 18px;
}
.loyalty__change.up {
  color: #70a74b;
}
.loyalty__change.up:before {
  content: '';
  display: inline-block;
  margin-right: 6px;
  width: 20px;
  height: 20px;
  background: url("../images/arrow.png") center no-repeat;
  color: #70a74b;
  vertical-align: middle;
}
.loyalty__circle:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  width: 33px;
  height: 242px;
  background: url("../images/border.png") no-repeat;
}

.loyalty__wrapper {
  padding-left: 36px;
}
.loyalty__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin-bottom: 15px;
}
.loyalty__caption {
  width: 45%;
  padding-right: 10px;
  font-size: 14px;
  font-weight: bold;
  color: #555;
}
.loyalty__percentage {
  width: 20%;
  padding-right: 10px;
}
.loyalty__percentage-perc {
  font-size: 13px;
  font-weight: bold;
  color: #555;
  line-height: 22px;
}
.loyalty__percentage-sum {
  font-size: 12px;
  line-height: 14px;
  text-align: right;
  color: #9d9d9c;
}
.loyalty__percentage-sum:after {
  content: '';
  display: inline-block;
  margin-left: 3px;
  width: 12px;
  height: 12px;
  background: url("../images/human_full.svg");
  vertical-align: bottom;
}
.loyalty__line {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 35%;
  border-radius: 3px;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-shadow: inset 0 0 3px rgba(0,0,0,.2);
  box-shadow: inset 0 0 3px rgba(0,0,0,.2);
}
.loyalty__line-actual {
  height: 26px;
  width: 0;
  -webkit-transition: width 2s ease-in-out;
  -o-transition: width 2s ease-in-out;
  transition: width 2s ease-in-out;
}
.loyalty__line-actual.green {
  background: #70a74b;
}
.loyalty__line-actual.yellow {
  background: #fbd229;
}
.loyalty__line-actual.red {
  background: #ed5243;
}
.loyalty__line-past {
  height: 13px;
  width: 0;
  -webkit-transition: width 2s ease-in-out;
  -o-transition: width 2s ease-in-out;
  transition: width 2s ease-in-out;
}

.loyalty__line-past.green {
  background: #70a74b;
  opacity: .7;
}
.loyalty__line-past.yellow {
  background: #fbd229;
  opacity: .7;
}
.loyalty__line-past.red {
  background: #ed5243;
  opacity: .7;
}
.loyalty__line-change {
  position: absolute;
  right: 6px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  font-size: 12px;
}


figure {
  margin: 0;
}
.loyalty__circle-segment {
  -webkit-transition: 2s all;
  -o-transition: 2s all;
  transition: 2s all;
  -webkit-transform: rotate(294deg);
  -ms-transform: rotate(294deg);
  transform: rotate(294deg);
  -webkit-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
}
.loyalty__circle-ring {
  -webkit-transform: rotate(294deg);
  -ms-transform: rotate(294deg);
  transform: rotate(294deg);
  -webkit-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
}
